@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;

  color: #000;
  background-color: #fff;

  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

.page-body {
  display: flex;
  flex-direction: column;
  width: 1160px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #F0F0F0;
}

.page-main {
  flex-grow: 1;
}

.header-nav {
  margin: 40px auto 0;
  background-color: #FFE17F;
}
.logo {
  padding: 4px 895px 30px 60px;
}

.search {
  display: flex;
}

.search-text {
  width: 359px;
  height: 40px;
}

.search-button {
  width: 160px;
  height: 40px;
}
